<template name="mobilemain">
  {{doBG}}
  {{#if currentUser}}
  <div id="flipBody" style="position:relative;">
  {{> mobiletabholder}}
  </div>
  {{else}}
  <div style="width:100%; height:100%; padding: 20px;">
    <div style="align-items: center;
    display: flex;
    justify-content: center;
                vertical-align:center;
    text-align: center; padding-left:30px; padding-right:30px;"><div><h3 style="font-weight:bolder;color:#D3D3D3;margin-bottom:20px;">Sign In To Earn More Points &amp; Participate In Stream Events!</h3>{{> loginButtons}}</div></div>
  </div>
  {{/if}}
</template>

<template name="mobilefooter">
  <div class="btn-group btn-group-justified" style="position: fixed; bottom:0; z-index:2;" role="group" aria-label="">
        <div class="btn-group" role="group">
          <button type="button" class="btn flipnav" id="profileSw" data-target="#profileTab" aria-controls="profileTab" role="tab" data-toggle="tab"><i class="fa fa-user"></i></button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn flipnav" data-target="#bettingTab" aria-controls="bettingTab" role="tab" data-toggle="tab"><i class="fa fa-money"></i></button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn flipnav" data-target="#auctionTab" aria-controls="auctionTab" role="tab" data-toggle="tab"><i class="fa fa-gavel"></i></button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn flipnav" data-target="#pollTab" aria-controls="pollTab" role="tab" data-toggle="tab"><i class="fa fa-ticket"></i></button>
        </div>
      </div>
</template>

<template name="mobiletabholder">
  <div role="tabpanel" class="flipTabs" style="position:absolute; top:0; bottom:0; left:0; width:100%; overflow:hidden;">
  <div class="tab-content" style="height:100%">
    <div role="tabpanel" class="tab-pane fade scrollbar-macosx scrollbar-general flipTab" id="profileTab" style="padding-bottom:10px;overflow-y:auto;overflow-x:hidden;">{{> profilecontainer}}</div>
    <div role="tabpanel" class="tab-pane fade in flipTab scrollbar-macosx scrollbar-general active" id="bettingTab" style="padding-bottom:10px;overflow-y:auto;overflow-x:hidden;">{{> userbettingtab}}</div>
    <div role="tabpanel" class="tab-pane fade flipTab scrollbar-macosx scrollbar-general" id="auctionTab" style="padding-bottom:10px;overflow-y:auto;overflow-x:hidden;"><hr><h2 style="text-align:center;">AUCTIONS</h2><hr><h3 style="text-align:center;">Coming Soon!</h3></div>
    <div role="tabpanel" class="tab-pane fade scrollbar-macosx scrollbar-general flipTab" id="pollTab" style="padding-bottom:10px;overflow-y:auto;overflow-x:hidden;">{{> userraffletab}}</div>
  </div>
</div>
</template>
